<div class="columns sign-up-box">
<div class="box  column is-half
is-offset-one-quarter mt-6">
<form class="login-form p-1">
<div class="field">
  <label class="label">Email:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-link" id="email-address" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Password:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-link" id="password" type="password" placeholder="Password input" value="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>
<a href="/sign-up"> Or Sign Up!</a>
<div class="field">
  
  
    <button type="submit" class="button is-success has-text-weight-bold is-fullwidth submit mt-3">
      Login
    </button>
  
</div>

</form>
</div>
</div>
<script src="/js/login.js"></script>
