<div class="box m-6 has-background-primary-light">

<form class="new-post-form box has-background-grey-lighter">
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input is-primary is-medium" id= "title" type="title" placeholder="Title">
  </p>
</div>
<div class="field">
  <div class="control">
    <textarea class="textarea is-medium" placeholder="What to say?" id="post-content"></textarea>
  </div>
</div>
<div class="field">
  <p class="control">
    <button type="submit" class="button is-success has-text-weight-bold is-fullwidth submit mt-3" id="submit">
      Submit
    </button>
  </p>
</div>
</form>

</div>
<script src="/js/add-post.js"></script>