<div class="columns sign-up-box">
<div class="box  column is-half
is-offset-one-quarter mt-6">
<form class="signup-form p-1">
<div class="field">
  <label class="label">Username:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-link" id="username-signup" type="text" placeholder="Text input" value="Username">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Email:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-link" id="email-signup" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Password:</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-link" id="password-signup" type="password" placeholder="Password input" value="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
</div>

<div class="field is-grouped">
  
    <button class="button is-link is-fullwidth is-success has-text-weight-bold">Submit</button>
  
</div>
</form>
</div>
</div>
<script src="/js/sign-up.js"></script>